@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20000% 0;
  }
}

.container {
  background: url('/images/footer.png');
  background-repeat: repeat-x;
  background-size: cover;
  animation: animatedBackground 50000s linear infinite alternate;
}

.linear {
  background: linear-gradient(to bottom, #f2f5ff00, #d6e0f5);
}
